/*     /\* background: transparent; */
.title-bar{
    width: 100%;
}

.left{
    list-style:none;
    padding: 0px;
    margin: 0px;
}

.side-nav{
    list-style:none;
}

.postBar{
    width: 30%;
    position: absolute;
    left: 200px;
    top: 80px;
}

.side-nav .heading {
    /* border-top: 1px solid; */
    font-weight: bold;
    font-size: 1.2rem;
    margin: 4px;
}

.side-nav li.divider {
    border-top: 1px solid;
    margin: 10px 1190px 0px 0px;
    height: 0;
    list-style: none;
    padding: 0;
    border-top-color: #e6e6e6;
}
